<div class="jumbotron center">
  <h1>Welcome to MyRecipes</h1>
  <h2>The best recipe sharing app!</h2>
  <p><%= link_to "Sign up", signup_path, class: "btn btn-danger btn-lg" %></p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Chekout Recipes</h2>
    <p>Sign up now to see the best recipes! No matter if you are professional or not, you can upload you recipes and show you cooking skills! </p>
    <p><%= link_to "View details »", recipes_path, class: "btn btn-primary btn-xlarge" %></p>
  </div>
  <div class="col-lg-4">
    <h2>Chefs</h2>
    <p>You can see professiona or hobbyist chefs with new plates every day! This is the place you can improve your skills and meet others!</p>
    <p><%= link_to "View details »", users_path, class: "btn btn-primary btn-xlarge" %></p>
 </div>
  <div class="col-lg-4">
    <h2>Pictures</h2>
    <p>You can see other recipe pictures and you can upload yours! Check it out, don't miss it! Sign up now and start sharing your skills</p>
    <p><%= link_to "View details »", signup_path, class: "btn btn-primary btn-xlarge" %></p>
  </div>
</div>
